body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px; 
}

.texto-input, .resultado-texto {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font:bold
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 10px;
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }
    .texto-input, .resultado-texto {
        width: 45%;
    }
}
